# PostgreSQL
POSTGRES_USER=vultisig_user
POSTGRES_PASSWORD=
POSTGRES_DB=vultisig_analytics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# API Keys
ONEINCH_API_KEY=
ARKHAM_API_KEY=
ETHERSCAN_API_KEY=
INFURA_API_KEY=
ALCHEMY_API_KEY=
LIFI_API_KEY=
MORALIS_API_KEY=
